<h1>Welcome, <%= @user.username%>!</h1>

<div class="logout">
	<form action="/logout" method="POST">
		<input type="submit" name="Log Out" value="Log Out">
	</form>
</div>
<!-- FLOAT loans by Borrows -->
<h2><a href="/users/contracts">My Contracts</a></h2>

	<h3>Active Loans</h3>
	<!-- make HTML list -->
		<% if @user.active_loans.empty? %>
			<p>You are not loaning any tools right now.</p>
		<% else%>
			<% @user.active_loans.each.with_index(1) do |c, index| %>
				<!-- later on... add a date... due date? -->
				<p><%= "#{index}. You loaned your #{c.tool.name} to #{c.borrower.username}." %></p>
			<% end %>
		<% end %>


	<h3>Active Borrows</h3>
	<!-- make HTML list -->
		<% if @user.borrower_contracts.empty? %>
			<p>You are not borrowing any tools right now.</p>
		<% else %>
			<% @user.borrower_contracts.each.with_index(1) do |c, index| %>
				<p><%= "#{index}. You are borrowing a #{c.tool} from #{c.loaner}" %></p>
			<% end %>
		<% end %>

<!-- TOOL SECTION, float side by side -->
<h2><a href="/users/tools">My Tools</a></h2>
	<% @user.tools.each.with_index(1) do |t, index| %>
	<p><b><%= "#{index}." %><a href="/tools/<%="#{t.id}"%>"><%= "#{t.name}" %></a>:</b> <%= t.description %></p>
	<% end %>

<h3>Add some tools that you can loan:</h3>
	<form action="/tools/new" method="POST">
		<!-- line these up, justified right! -->
		<p>Tool: <input type="text" name="tool[name]"></p>
		<p>Description (optional): <input type="text" name="tool[description]"></p>
		<p><input type="submit" name="Add to my Toolbox"></p>
	</form>

<!-- Loan or Borrow things, float side by side -->
<h3>Loan a Tool to a Friend</h3>
	<form action="/contracts/new" method="POST">
		<p>Borrower's Username: <input type="text" name="loan[borrower]"></p>
		<p><label for="tool">Tool:</label> 
			<select id="tool" name="loan[tool]">
				<option value="">--Choose a tool--</option>
				<% @user.tools.each do |t| %>
					<option value="<%= "#{t.name}" %>"><%= "#{t.name}" %></option>
				<% end %>
		</p>
		<p><input type="submit" value="Loan it out!"></p>
	</form>

<!-- This is cool b/c the app becomes useful to ppl who want to be responsible borrowers... -->
<!-- BUT.... now we have a potential duplication issue?  Or maybe just non-sensical feature -->
<!-- Possible that simplest case, where only loaners can create new contracts, is best. -->
<h3>Borrow a Tool from a Friend</h3>
<h4>Coming Soon!</h4>
	<!-- <form action="/contracts/new" method="POST">
		<p>Loaner's Username: <input type="text" name="borrow[loaner]"></p>
		<p>Tool: <input type="text" name="borrow[tool]"></p>
		<p><input type="submit" value="Borrow that tool!"></p>
	</form> -->